<div style="text-align: center;" class="my-5">
  <h1>Your lists</h1>
</div>
<div class="cards">
  <% @lists.each do |list| %>
      <div class="card-category" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to list.name, list_path(list), style: 'text-decoration: none; color: white;' %>
        <%= link_to del_list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa fa-trash" aria-hidden="true" style='position: absolute; bottom: 5px; right: 5px; color: white;'></i>
        <% end %>
      </div>
  <% end %>
</div>


<div style="text-align: center;" class="my-5">
  <h1><%= link_to "New list", new_list_path, style: 'text-decoration: none; color: black;' %></h1>
</div>

</div>
